{% extends 'layouts/layout.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form class="card card-body" action="{% url 'login' %}" method="post">
                <!-- {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Log in"> -->

                <h1>Login</h1>
                {{ error }}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required
                        placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required
                        placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}